<div class="animated-fast flyIn span6">
  <div class="service-box">
    <div class="pull-right listIcon">
      <a title="Edit" *ngIf="isCreator && isEdit" (click)="parentOpenEditAction(appGlobal.Idea_Edit)"><i class='fas fa-edit'></i></a>
      <a title="Withdraw" *ngIf="isCreator && isWithdraw" (click)="parentOpenIdeaAction(appGlobal.Idea_Withdraw)"><i class='fas fa-trash'></i></a>
      <a title="Approve" *ngIf="(isApprover || isDelegator) && isApprove" (click)="parentOpenIdeaAction(appGlobal.Idea_Approved)"><i class='fas fa-check-square'></i></a>
      <a title="Reject" *ngIf="(isApprover || isDelegator) && isReject" (click)="parentOpenIdeaAction(appGlobal.Idea_Reject)"><i class='fas fa-times-circle'></i></a>
      <a title="Delegate" *ngIf="(isApprover || isDelegator) && isDelegate" (click)="parentOpenIdeaAction(appGlobal.Idea_Delegate)"><i class='fas fa-share'></i></a>
      <a title="Pick" *ngIf="isPick" (click)="parentOpenIdeaAction(appGlobal.Idea_Pick)"><i class='fas fa-crosshairs'></i></a>
      <a title="Idea Implemented" *ngIf="isPicker && isDone" (click)="parentOpenIdeaAction(appGlobal.Idea_Done)"><i class='fas fa-clipboard-check'></i></a>
      <a title="Give up" *ngIf="isPicker && isGiveUp" (click)="parentOpenIdeaAction(appGlobal.Idea_GiveUp)"><i class='fas fa-undo'></i></a>
      <a title="Rework on Idea" *ngIf="isCreator && isRework" (click)="parentOpenIdeaAction(appGlobal.Idea_Rework)"><i class='fas fa-retweet'></i></a>
      <a title="Accept Idea Implemented" *ngIf="isCreator && isAccept" (click)="parentOpenIdeaAction(appGlobal.Idea_Accept)"><i class='fas fa-edit'></i></a>
      <a title="Re-open Idea" *ngIf="(isApprover || isDelegator) && (isDone || isGiveUp || isRework)" (click)="parentOpenIdeaAction(appGlobal.Idea_Reopen)"><i class='fas fa-edit'></i></a>
      <a title="Watchers" *ngIf="isWatch" (click)="parentOpenWatcherAction()"><i class='fas fa-eye'></i></a>
      <a title="Comments" *ngIf="isComment" (click)="parentOpenCommentAction()"><i class='fas fa-comment-dots'></i></a>
    </div>
    <a (click)="parentOpenIdeaDetails()"><h2><i *ngIf="isIdea" title="Idea" class="fa fa-lightbulb"></i><i *ngIf="!isIdea" title="POC" class="fa fa-hourglass-half"></i> {{idea.title}}</h2></a>
    <p>
      {{truncateDesc}}
    </p>
    <div class="pull-right listIcon creatorName">
      - {{idea.name}}
    </div>
    <div class="pull-right listIcon ideaStatus">
     Status - {{idea.ideaStatus}}
    </div>
  </div>
</div>
