
<!-- navbar -->
<div class="navbar-wrapper" *ngIf="showHtml">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- Responsive navbar -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </a>
        <h1 class="brand"><a routerLink="Dashboard"><img width="120" src="../assets/img/qideas-logo.png" alt="QIdeas" /></a></h1>
        <!-- navigation -->
        <nav class="pull-left nav-collapse collapse">
          <ul id="menu-main" class="nav">
            <li><a title="Dashboard" href="#Dashboard" routerLink="Dashboard">Dashboard</a></li>
            <li><a title="Create Idea" href="#CreateIdea" routerLink="CreateIdea">Create Idea</a></li>
            <li><a title="View Ideas" href="#ViewIdeas" routerLink="ViewIdeas">View Ideas</a></li>
            <li><a title="My Ideas" href="#MyIdeas" routerLink="MyIdeas">My Ideas</a></li>
            <li><a title="New Ideas" href="#OpenIdeas" *ngIf="IsApprover" routerLink="OpenIdeas">New Ideas</a></li>
            <li><a title="Approved Ideas" href="#ApprovedIdeas" *ngIf="IsApprover" routerLink="ApprovedIdeas">Approved Ideas</a></li>
            <li><a title="Rejected Ideas" href="#RejectedIdeas" *ngIf="IsApprover" routerLink="RejectedIdeas">Rejected Ideas</a></li>
          </ul>
          <ul id="menu-main" class="nav">
            <li>
              <a (click)="onLogout()" title="Logout"><img height="30" width="30" src="../assets/img/signoff.png" alt="Logout" /></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<router-outlet *ngIf="showHtml"></router-outlet>
<footer *ngIf="showHtml">
  <div class="container">
    <div class="row">
      <div class="span6 offset3">
        <ul class="social-networks">
          <li><a href="#"><i class="icon-circled icon-bgdark icon-instagram icon-2x"></i></a></li>
          <li><a href="#"><i class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
          <li><a href="#"><i class="icon-circled icon-bgdark icon-dribbble icon-2x"></i></a></li>
          <li><a href="#"><i class="icon-circled icon-bgdark icon-pinterest icon-2x"></i></a></li>
        </ul>
        <!--<p class="copyright">
          &copy; Maxim Theme. All rights reserved.
          <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </p>-->
      </div>
    </div>
  </div>
  <!-- ./container -->
</footer>
