<div id="header-wrapper" class="header-slider">
  <header class="clearfix">
    <div class="logo">
      <img class="" width="400" src="../assets/img/logo-image.png" alt="" />
      <!--<div class="" id="container" style="min-width: 200px; height: 280px; max-width: 200px; margin: 0 auto"></div>-->
    </div>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div id="main-flexslider" class="flexslider">
            <ul class="slides">
              <li>
                <p class="home-slide-content">
                  Think and <strong>Think</strong>
                </p>
              </li>
              <li>
                <p class="home-slide-content">
                  Ideas and <strong>Passion</strong>
                </p>
              </li>
              <li>
                <p class="home-slide-content">
                  Customer Ideas and <strong>Demand</strong>
                </p>
              </li>
              <li>
                <p class="home-slide-content">
                  We love <strong>Challenges</strong>
                </p>
              </li>
              <li>
                <p class="home-slide-content">
                  Let's make it <strong>Happen</strong>
                </p>
              </li>
            </ul>
          </div>
          <!-- end slider -->
        </div>
      </div>
    </div>
  </header>
</div>
