<section id="ViewIdeas" class="section orange ideaslist">
  <div class="container">
    <h4>View Ideas</h4>
    <!-- Four columns -->
    <div class="row">
      <div class="animated-fast flyIn span6">
        
        <div class="service-box">
          <div class="pull-right listIcon">
            <i class='fas fa-file'></i>
            <i class='fas fa-eye'></i>
            <i class='fas fa-edit'></i>
            <i class='fas fa-check-square'></i>
            <i class='fas fa-times-circle'></i>
            <i class='fas fas fa-share'></i>
            <i class='fas fa-clipboard-check'></i>
            <i class='fas fa-undo'></i>
            <i class='fas fa-vote-yea'></i>
            <i class='fas fa-retweet'></i>
            <i class='fas fa-comment-dots'></i>
            <i class='fas fas fa-bell'></i>
          </div>
          <h2>Web design</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated flyIn span6">
        <div class="service-box">
          <h2>Web development</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated-fast flyIn span6">
        <div class="service-box">
          <h2>Photography</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated-slow flyIn span6">
        <div class="service-box">
          <h2>Ecommerce</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated-fast flyIn span6">
        <div class="service-box">
          <h2>Web design</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated flyIn span6">
        <div class="service-box">
          <h2>Web development</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated-fast flyIn span6">
        <div class="service-box">
          <h2>Photography</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated-slow flyIn span6">
        <div class="service-box">
          <h2>Ecommerce</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
