<section id="RejectedIdeas" class="section orange ideaslist">
  <div class="container">
    <h4>Rejected Ideas</h4>
    <!-- Four columns -->
    <div class="row">
      <div class="animated-fast flyIn">
        <div class="service-box">
          <img src="../assets/img/icons/laptop.png" alt="" />
          <h2>Web design</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated flyIn">
        <div class="service-box">
          <img src="../assets/img/icons/lab.png" alt="" />
          <h2>Web development</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated-fast flyIn">
        <div class="service-box">
          <img src="../assets/img/icons/camera.png" alt="" />
          <h2>Photography</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated-slow flyIn">
        <div class="service-box">
          <img src="../assets/img/icons/basket.png" alt="" />
          <h2>Ecommerce</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
