<section id="RejectedIdeas" class="section orange ideaslist">
  <div class="container">
    <h4>Rejected Ideas</h4>
    <!-- Four columns -->
    <div class="row">
      <div class="animated-fast flyIn span6">
        <div class="service-box">
          <h2>Web design</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated flyIn span6">
        <div class="service-box">
          <h2>Web development</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated-fast flyIn span6">
        <div class="service-box">
          <h2>Photography</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated-slow flyIn span6">
        <div class="service-box">
          <h2>Ecommerce</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated-fast flyIn span6">
        <div class="service-box">
          <h2>Web design</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated flyIn span6">
        <div class="service-box">
          <h2>Web development</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated-fast flyIn span6">
        <div class="service-box">
          <h2>Photography</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="animated-slow flyIn span6">
        <div class="service-box">
          <h2>Ecommerce</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
